@model BookListMVC.Model.Book
@{
    ViewBag.Title = "Create Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Entry form for books</h2>

<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-row">
            <div class="col-3">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-3">
                <label asp-for="Author"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="col-3">
                <label asp-for="Pages"></label>
                <input asp-for="Pages" class="form-control" />
            </div>
        </div>

        <input type="submit" value="Create" class="btn btn-info btn-sm mt-2" />
        <input type="submit" asp-action="Index" value="Back to List" class="btn btn-secondary btn-sm mt-2" />
    </form>
</div>
